.home {
  height: 100%;
  padding-top: 35vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px solid $white-color;
    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
